.btnConnect{
  background-color: transparent;
  border: transparent;
  height: 5vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#2022d3 42%, #fff5fb 40% 46%, #a30051 46% 47%, #fff5fb 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;


}

.btnConnect:hover{
  transition: all 0.2s ease-in-out;
 
  opacity: 0.7;
}
